<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Trace My Route</title>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<body>
    <form method="POST" action="/tracemyroute">
       <div class="container" style="border: 2px soid; max-width: 500px; padding: 20px;">
          <div class="row mb-3">
             <div class="col-2"><b>Enter Destination:</b></div>
             <div class="col-10"><input type="text" id="destination" name="destination" 
                placeholder="Enter destination" style="width: 100%;"></div>
                <div class="col-2"><b>Enter Source IP (leave blank for default):</b></div>
                <div class="col-10"><input type="text" id="source" name="source" 
                   placeholder="Enter source" style="width: 100%;"></div>
          </div>
          <div class="row mb-3">
             <div class="col-2"><button id="clicked" onclick="draw_map()">Start Trace</button></div>
          </div>
       </div>
       </form>

    <div id="streamcontent"></div>


    <script>
      function draw_map() {
         var destination = $("#destination").val();
         $.ajax({
            url: "/tracemyroute",
            type: "POST",
            data: {destination: destination},
         }).done(function(response) {
            window.location.href = "/results";
         });
      }
    </script>

</body>
</html>
