<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Error</title>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

   <style>
      #msg-container  {
         padding: 20px;
         width: fit-content;
         height: fit-content;
         background-color: #b0575a;
         border: 1px solid #b0575a;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         color: snow;
            text-align: center;
            margin: 0 auto;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
      }
   </style>
</head>


<body>
   <div id="msg-container">
        <h1>Error</h1>
            <p>{{  error_message   }}</p>
                <button id="clicked" onclick="start_trace()">New Trace</button>
    </div>

    <script>
        function start_trace()  {
          $.ajax({
            url: "/",
            type: "POST",
            success: function() {
              window.location.href = "/"
            }
          })
        }
      </script>
</body>
</html>
