<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_21de8a3013a83c3fe1f5bc7dbe768d83 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_21de8a3013a83c3fe1f5bc7dbe768d83" ></div>
        
</body>
<script>
    
    
            var map_21de8a3013a83c3fe1f5bc7dbe768d83 = L.map(
                "map_21de8a3013a83c3fe1f5bc7dbe768d83",
                {
                    center: [34.05, 118.24],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_40136c147a96c9bbd16282f94209710f = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"https://carto.com/attributions\"\u003eCARTO\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abcd", "tms": false}
            );
        
    
            tile_layer_40136c147a96c9bbd16282f94209710f.addTo(map_21de8a3013a83c3fe1f5bc7dbe768d83);
        
    
            var marker_cluster_7d225662ed5aa9948cd1ffaec3b37e93 = L.markerClusterGroup(
                {}
            );
        
    
            var circle_marker_ed2087594b4e25a3bdcae24c5a5f1557 = L.circleMarker(
                [33.8722, -117.8703],
                {"bubblingMouseEvents": true, "color": "#00FFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#00FFFF", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_7d225662ed5aa9948cd1ffaec3b37e93);
        
    
        var popup_01156f6ce1348840e42dedd7f851479a = L.popup({"maxWidth": "100%"});

        
            
                var html_a32b0208d7152cc6dec96de21802306e = $(`<div id="html_a32b0208d7152cc6dec96de21802306e" style="width: 100.0%; height: 100.0%;">'IP Addr:' + 108.94.88.1 'Location:' + Placentia + California + US 'Lat/Long:' + 33.8722 + -117.8703</div>`)[0];
                popup_01156f6ce1348840e42dedd7f851479a.setContent(html_a32b0208d7152cc6dec96de21802306e);
            
        

        circle_marker_ed2087594b4e25a3bdcae24c5a5f1557.bindPopup(popup_01156f6ce1348840e42dedd7f851479a)
        ;

        
    
    
            var circle_marker_f3bff384ef3af96be6c14a7b64b53e39 = L.circleMarker(
                [34.0522, -118.2437],
                {"bubblingMouseEvents": true, "color": "#00FFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#00FFFF", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_7d225662ed5aa9948cd1ffaec3b37e93);
        
    
        var popup_a2d011534d9a6fdfacadf58e82dfdfd2 = L.popup({"maxWidth": "100%"});

        
            
                var html_8105cbcc4a549a45b88f7894e12a1f43 = $(`<div id="html_8105cbcc4a549a45b88f7894e12a1f43" style="width: 100.0%; height: 100.0%;">'IP Addr:' + 75.29.48.90 'Location:' + Los Angeles + California + US 'Lat/Long:' + 34.0522 + -118.2437</div>`)[0];
                popup_a2d011534d9a6fdfacadf58e82dfdfd2.setContent(html_8105cbcc4a549a45b88f7894e12a1f43);
            
        

        circle_marker_f3bff384ef3af96be6c14a7b64b53e39.bindPopup(popup_a2d011534d9a6fdfacadf58e82dfdfd2)
        ;

        
    
    
            var circle_marker_304e3374f46b47d67e1fe8f5c364f4c8 = L.circleMarker(
                [34.0522, -118.2437],
                {"bubblingMouseEvents": true, "color": "#00FFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#00FFFF", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_7d225662ed5aa9948cd1ffaec3b37e93);
        
    
        var popup_8906934b8bff4ba7bb5b60d0b7bb58ad = L.popup({"maxWidth": "100%"});

        
            
                var html_c525e565fc9b208e7197c25d1f53eaa4 = $(`<div id="html_c525e565fc9b208e7197c25d1f53eaa4" style="width: 100.0%; height: 100.0%;">'IP Addr:' + 32.130.25.105 'Location:' + Los Angeles + California + US 'Lat/Long:' + 34.0522 + -118.2437</div>`)[0];
                popup_8906934b8bff4ba7bb5b60d0b7bb58ad.setContent(html_c525e565fc9b208e7197c25d1f53eaa4);
            
        

        circle_marker_304e3374f46b47d67e1fe8f5c364f4c8.bindPopup(popup_8906934b8bff4ba7bb5b60d0b7bb58ad)
        ;

        
    
    
            var circle_marker_09c567cbddecc4eb9be5292df3ca8f70 = L.circleMarker(
                [34.0522, -118.2437],
                {"bubblingMouseEvents": true, "color": "#00FFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#00FFFF", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_7d225662ed5aa9948cd1ffaec3b37e93);
        
    
        var popup_3d35c2775feef3eca768ece56dc0f389 = L.popup({"maxWidth": "100%"});

        
            
                var html_e45e42e151539515539381027ecd98ae = $(`<div id="html_e45e42e151539515539381027ecd98ae" style="width: 100.0%; height: 100.0%;">'IP Addr:' + 12.122.128.101 'Location:' + Los Angeles + California + US 'Lat/Long:' + 34.0522 + -118.2437</div>`)[0];
                popup_3d35c2775feef3eca768ece56dc0f389.setContent(html_e45e42e151539515539381027ecd98ae);
            
        

        circle_marker_09c567cbddecc4eb9be5292df3ca8f70.bindPopup(popup_3d35c2775feef3eca768ece56dc0f389)
        ;

        
    
    
            var circle_marker_611d9ea7bc1548a245a7cacb675ff946 = L.circleMarker(
                [34.0522, -118.2437],
                {"bubblingMouseEvents": true, "color": "#00FFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#00FFFF", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_7d225662ed5aa9948cd1ffaec3b37e93);
        
    
        var popup_b05c4f4c5b9fed3520eaff0b5b13ffad = L.popup({"maxWidth": "100%"});

        
            
                var html_b6808f5e52ff48671a6a27e2fdcfe990 = $(`<div id="html_b6808f5e52ff48671a6a27e2fdcfe990" style="width: 100.0%; height: 100.0%;">'IP Addr:' + 192.205.37.26 'Location:' + Los Angeles + California + US 'Lat/Long:' + 34.0522 + -118.2437</div>`)[0];
                popup_b05c4f4c5b9fed3520eaff0b5b13ffad.setContent(html_b6808f5e52ff48671a6a27e2fdcfe990);
            
        

        circle_marker_611d9ea7bc1548a245a7cacb675ff946.bindPopup(popup_b05c4f4c5b9fed3520eaff0b5b13ffad)
        ;

        
    
    
            var circle_marker_1009c9487796b05febd761a2b3614e49 = L.circleMarker(
                [34.0522, -118.2437],
                {"bubblingMouseEvents": true, "color": "#00FFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#00FFFF", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_7d225662ed5aa9948cd1ffaec3b37e93);
        
    
        var popup_2a276e822b0785d8bb1852c8b7594c2e = L.popup({"maxWidth": "100%"});

        
            
                var html_11c6414d5ddca4918c5f9f1fd37ce19b = $(`<div id="html_11c6414d5ddca4918c5f9f1fd37ce19b" style="width: 100.0%; height: 100.0%;">'IP Addr:' + 96.110.44.157 'Location:' + Los Angeles + California + US 'Lat/Long:' + 34.0522 + -118.2437</div>`)[0];
                popup_2a276e822b0785d8bb1852c8b7594c2e.setContent(html_11c6414d5ddca4918c5f9f1fd37ce19b);
            
        

        circle_marker_1009c9487796b05febd761a2b3614e49.bindPopup(popup_2a276e822b0785d8bb1852c8b7594c2e)
        ;

        
    
    
            var circle_marker_0c2c634691c95de37577a280741aabc3 = L.circleMarker(
                [34.0522, -118.2437],
                {"bubblingMouseEvents": true, "color": "#00FFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#00FFFF", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_7d225662ed5aa9948cd1ffaec3b37e93);
        
    
        var popup_af0f1d0eaffa15fd6413f723bbce941b = L.popup({"maxWidth": "100%"});

        
            
                var html_4ac4d83b0ad6dbca546bfca807753274 = $(`<div id="html_4ac4d83b0ad6dbca546bfca807753274" style="width: 100.0%; height: 100.0%;">'IP Addr:' + 96.110.44.145 'Location:' + Los Angeles + California + US 'Lat/Long:' + 34.0522 + -118.2437</div>`)[0];
                popup_af0f1d0eaffa15fd6413f723bbce941b.setContent(html_4ac4d83b0ad6dbca546bfca807753274);
            
        

        circle_marker_0c2c634691c95de37577a280741aabc3.bindPopup(popup_af0f1d0eaffa15fd6413f723bbce941b)
        ;

        
    
    
            var circle_marker_0cf0420306047521e2a35a17e631c23a = L.circleMarker(
                [34.0522, -118.2437],
                {"bubblingMouseEvents": true, "color": "#00FFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#00FFFF", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_7d225662ed5aa9948cd1ffaec3b37e93);
        
    
        var popup_6f8172ee26bf1ff60ad441bd9b9c2d04 = L.popup({"maxWidth": "100%"});

        
            
                var html_b6606a25bb36a4faae51c85b0ca0ed42 = $(`<div id="html_b6606a25bb36a4faae51c85b0ca0ed42" style="width: 100.0%; height: 100.0%;">'IP Addr:' + 96.110.44.149 'Location:' + Los Angeles + California + US 'Lat/Long:' + 34.0522 + -118.2437</div>`)[0];
                popup_6f8172ee26bf1ff60ad441bd9b9c2d04.setContent(html_b6606a25bb36a4faae51c85b0ca0ed42);
            
        

        circle_marker_0cf0420306047521e2a35a17e631c23a.bindPopup(popup_6f8172ee26bf1ff60ad441bd9b9c2d04)
        ;

        
    
    
            var circle_marker_0178517373b5dc0d5623ebac9fdada04 = L.circleMarker(
                [41.85, -87.65],
                {"bubblingMouseEvents": true, "color": "#00FFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#00FFFF", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_7d225662ed5aa9948cd1ffaec3b37e93);
        
    
        var popup_2850eac558c6a2830a32de8395e9024f = L.popup({"maxWidth": "100%"});

        
            
                var html_556399dd09bbd099688bfdf5835291b2 = $(`<div id="html_556399dd09bbd099688bfdf5835291b2" style="width: 100.0%; height: 100.0%;">'IP Addr:' + 68.86.84.201 'Location:' + Chicago + Illinois + US 'Lat/Long:' + 41.8500 + -87.6500</div>`)[0];
                popup_2850eac558c6a2830a32de8395e9024f.setContent(html_556399dd09bbd099688bfdf5835291b2);
            
        

        circle_marker_0178517373b5dc0d5623ebac9fdada04.bindPopup(popup_2850eac558c6a2830a32de8395e9024f)
        ;

        
    
    
            var circle_marker_e8362431c4e999f9745f32a9dc775949 = L.circleMarker(
                [41.85, -87.65],
                {"bubblingMouseEvents": true, "color": "#00FFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#00FFFF", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_7d225662ed5aa9948cd1ffaec3b37e93);
        
    
        var popup_1f86591fe5cdf508fe048faed2e95ade = L.popup({"maxWidth": "100%"});

        
            
                var html_bf02d020914dc54288b1b41b040fe359 = $(`<div id="html_bf02d020914dc54288b1b41b040fe359" style="width: 100.0%; height: 100.0%;">'IP Addr:' + 68.86.84.189 'Location:' + Chicago + Illinois + US 'Lat/Long:' + 41.8500 + -87.6500</div>`)[0];
                popup_1f86591fe5cdf508fe048faed2e95ade.setContent(html_bf02d020914dc54288b1b41b040fe359);
            
        

        circle_marker_e8362431c4e999f9745f32a9dc775949.bindPopup(popup_1f86591fe5cdf508fe048faed2e95ade)
        ;

        
    
    
            var circle_marker_643f32de8a5b2d8163da885755829171 = L.circleMarker(
                [44.98, -93.2638],
                {"bubblingMouseEvents": true, "color": "#00FFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#00FFFF", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_7d225662ed5aa9948cd1ffaec3b37e93);
        
    
        var popup_37cbacdff2af431f2481b2d7b3e7ed4a = L.popup({"maxWidth": "100%"});

        
            
                var html_ea68486e3415ee066c22a8c064920db4 = $(`<div id="html_ea68486e3415ee066c22a8c064920db4" style="width: 100.0%; height: 100.0%;">'IP Addr:' + 96.110.43.2 'Location:' + Minneapolis + Minnesota + US 'Lat/Long:' + 44.9800 + -93.2638</div>`)[0];
                popup_37cbacdff2af431f2481b2d7b3e7ed4a.setContent(html_ea68486e3415ee066c22a8c064920db4);
            
        

        circle_marker_643f32de8a5b2d8163da885755829171.bindPopup(popup_37cbacdff2af431f2481b2d7b3e7ed4a)
        ;

        
    
    
            var circle_marker_12fbc61098f47b161f8619f3cafbcc74 = L.circleMarker(
                [41.85, -87.65],
                {"bubblingMouseEvents": true, "color": "#00FFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#00FFFF", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_7d225662ed5aa9948cd1ffaec3b37e93);
        
    
        var popup_3f891c73da19e01d65c950dfab038acb = L.popup({"maxWidth": "100%"});

        
            
                var html_dfac8d9a3491b7d7b9dd4619b91b3e5f = $(`<div id="html_dfac8d9a3491b7d7b9dd4619b91b3e5f" style="width: 100.0%; height: 100.0%;">'IP Addr:' + 96.110.43.6 'Location:' + Chicago + Illinois + US 'Lat/Long:' + 41.8500 + -87.6500</div>`)[0];
                popup_3f891c73da19e01d65c950dfab038acb.setContent(html_dfac8d9a3491b7d7b9dd4619b91b3e5f);
            
        

        circle_marker_12fbc61098f47b161f8619f3cafbcc74.bindPopup(popup_3f891c73da19e01d65c950dfab038acb)
        ;

        
    
    
            var circle_marker_4dbee8b8612f79dd2c5772774ae026a6 = L.circleMarker(
                [44.98, -93.2638],
                {"bubblingMouseEvents": true, "color": "#00FFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#00FFFF", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_7d225662ed5aa9948cd1ffaec3b37e93);
        
    
        var popup_fd934b707240faabda725c6f83211960 = L.popup({"maxWidth": "100%"});

        
            
                var html_d8e66f9ad92f3ec0a78036dfa6fa5cd2 = $(`<div id="html_d8e66f9ad92f3ec0a78036dfa6fa5cd2" style="width: 100.0%; height: 100.0%;">'IP Addr:' + 162.151.54.42 'Location:' + Minneapolis + Minnesota + US 'Lat/Long:' + 44.9800 + -93.2638</div>`)[0];
                popup_fd934b707240faabda725c6f83211960.setContent(html_d8e66f9ad92f3ec0a78036dfa6fa5cd2);
            
        

        circle_marker_4dbee8b8612f79dd2c5772774ae026a6.bindPopup(popup_fd934b707240faabda725c6f83211960)
        ;

        
    
    
            var circle_marker_d3735973b7a5bbddf9f2585513ca674a = L.circleMarker(
                [44.98, -93.2638],
                {"bubblingMouseEvents": true, "color": "#00FFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#00FFFF", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_7d225662ed5aa9948cd1ffaec3b37e93);
        
    
        var popup_ab6a7e474fb9feec88122eafab811517 = L.popup({"maxWidth": "100%"});

        
            
                var html_3414e14734b8e730baa6f55d81afede0 = $(`<div id="html_3414e14734b8e730baa6f55d81afede0" style="width: 100.0%; height: 100.0%;">'IP Addr:' + 50.216.178.218 'Location:' + Minneapolis + Minnesota + US 'Lat/Long:' + 44.9800 + -93.2638</div>`)[0];
                popup_ab6a7e474fb9feec88122eafab811517.setContent(html_3414e14734b8e730baa6f55d81afede0);
            
        

        circle_marker_d3735973b7a5bbddf9f2585513ca674a.bindPopup(popup_ab6a7e474fb9feec88122eafab811517)
        ;

        
    
    
            var circle_marker_20c7469627b20ac1e22bfe485516ba6e = L.circleMarker(
                [44.98, -93.2638],
                {"bubblingMouseEvents": true, "color": "#00FFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#00FFFF", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_7d225662ed5aa9948cd1ffaec3b37e93);
        
    
        var popup_762260b7fabc54d46bf1d11b7a9a4968 = L.popup({"maxWidth": "100%"});

        
            
                var html_66d88bb33deb4bfe1822b814419c0a2e = $(`<div id="html_66d88bb33deb4bfe1822b814419c0a2e" style="width: 100.0%; height: 100.0%;">'IP Addr:' + 23.38.109.194 'Location:' + Minneapolis + Minnesota + US 'Lat/Long:' + 44.9800 + -93.2638</div>`)[0];
                popup_762260b7fabc54d46bf1d11b7a9a4968.setContent(html_66d88bb33deb4bfe1822b814419c0a2e);
            
        

        circle_marker_20c7469627b20ac1e22bfe485516ba6e.bindPopup(popup_762260b7fabc54d46bf1d11b7a9a4968)
        ;

        
    
    
            marker_cluster_7d225662ed5aa9948cd1ffaec3b37e93.addTo(map_21de8a3013a83c3fe1f5bc7dbe768d83);
        
</script>
</html>